.root {
  margin: 0;
}

.caption {
  display: flex;
}
.heading {
  font-size: 1.3125rem;
  font-family: sofia-pro-soft, sans-serif;
  font-weight: 400;
  line-height: 1.66;
}

.shout {
  font-family: sofia-pro-soft, sans-serif;

  line-height: 1.66;
}
