.root {
  position: fixed;
  width: 100%;
  top: 0px;
  box-shadow: rgb(0 0 0 / 6%) 0px 3px 6px;
  min-height: 85px;
  justify-content: center;
  background-color: #fff;
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  min-height: 85px;
  display: none;
}
@media only screen and (min-width: 500px) {
  .root {
    display: flex;
  }
}

.wrap {
  background-color: "#fff";
  display: flex;
  padding: 16px;
  align-items: center;
}
.left {
  background-color: rgb(212, 127, 127);
  margin-right: 32px;
}
.middle {
  background-color: rgb(212, 127, 127);
}
.right {
  background-color: rgb(212, 127, 127);
  justify-self: flex-end;
}
